@font-face {
	font-family: 'NeoSans';
	src: url('fonts/neosans.eot');
	src: url('fonts/neosans.eot?#iefix') format('embedded-opentype'), url('fonts/neosans.woff') format('woff'), url('fonts/neosans.ttf') format('truetype'), url('fonts/neosans.svg#neosans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NeoSansBold';
	src: url('fonts/neosans-bold.eot');
	src: url('fonts/neosans-bold.eot?#iefix') format('embedded-opentype'), url('fonts/neosans-bold.woff') format('woff'), url('fonts/neosans-bold.ttf') format('truetype'), url('fonts/neosans-bold.svg#neosans-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'neosans-light';
	src: url('fonts/neosans-light.eot');
	src: url('fonts/neosans-light.eot?#iefix') format('embedded-opentype'), url('fonts/neosans-light.woff') format('woff'), url('fonts/neosans-light.ttf') format('truetype'), url('fonts/neosans-light.svg#neosans-light') format('svg');
	font-weight:normal;
	font-style: normal;
}
